.tbl-greenish
  .tbl-title Greeny table with fixed header
  .tbl-header
    table
      thead
        tr
          th Code
          th Company
          th Price
          th Change
          th Change %
  .tbl-content
    table
      tbody
        tr
          td AAC
          td AUSTRALIAN COMPANY
          td $1.38
          td +2.01
          td -0.36%
        tr
          td AAD
          td AUSENCO
          td $2.38
          td -0.01
          td -1.36%
        tr
          td AAX
          td ADELAIDE
          td $3.22
          td +0.01
          td +1.36%
        tr
          td XXD
          td ADITYA BIRLA
          td $1.02
          td -1.01
          td +2.36%
        tr
          td AAC
          td AUSTRALIAN COMPANY
          td $1.38
          td +2.01
          td -0.36%
        tr
          td AAD
          td AUSENCO
          td $2.38
          td -0.01
          td -1.36%
        tr
          td AAX
          td ADELAIDE
          td $3.22
          td +0.01
          td +1.36%
        tr
          td XXD
          td ADITYA BIRLA
          td $1.02
          td -1.01
          td +2.36%
        tr
          td AAC
          td AUSTRALIAN COMPANY
          td $1.38
          td +2.01
          td -0.36%
        tr
          td AAD
          td AUSENCO
          td $2.38
          td -0.01
          td -1.36%
        tr
          td AAX
          td ADELAIDE
          td $3.22
          td +0.01
          td +1.36%
        tr
          td XXD
          td ADITYA BIRLA
          td $1.02
          td -1.01
          td +2.36%
        tr
          td AAC
          td AUSTRALIAN COMPANY
          td $1.38
          td +2.01
          td -0.36%
        tr
          td AAD
          td AUSENCO
          td $2.38
          td -0.01
          td -1.36%
        tr
          td AAX
          td ADELAIDE
          td $3.22
          td +0.01
          td +1.36%
        tr
          td XXD
          td ADITYA BIRLA
          td $1.02
          td -1.01
          td +2.36%
        tr
          td AAC
          td AUSTRALIAN COMPANY
          td $1.38
          td +2.01
          td -0.36%
        tr
          td AAD
          td AUSENCO
          td $2.38
          td -0.01
          td -1.36%
        tr
          td AAX
          td ADELAIDE
          td $3.22
          td +0.01
          td +1.36%
        tr
          td XXD
          td ADITYA BIRLA
          td $1.02
          td -1.01
          td +2.36%
        tr
          td AAC
          td AUSTRALIAN COMPANY
          td $1.38
          td +2.01
          td -0.36%
        tr
          td AAD
          td AUSENCO
          td $2.38
          td -0.01
          td -1.36%
        tr
          td AAX
          td ADELAIDE
          td $3.22
          td +0.01
          td +1.36%
        tr
          td XXD
          td ADITYA BIRLA
          td $1.02
          td -1.01
          td +2.36%
        tr
          td AAC
          td AUSTRALIAN COMPANY
          td $1.38
          td +2.01
          td -0.36%
        tr
          td AAD
          td AUSENCO
          td $2.38
          td -0.01
          td -1.36%
        tr
          td AAX
          td ADELAIDE
          td $3.22
          td +0.01
          td +1.36%
        tr
          td XXD
          td ADITYA BIRLA
          td $1.02
          td -1.01
          td +2.36%
        tr
          td AAC
          td AUSTRALIAN COMPANY
          td $1.38
          td +2.01
          td -0.36%
        tr
          td AAD
          td AUSENCO
          td $2.38
          td -0.01
          td -1.36%
        tr
          td AAX
          td ADELAIDE
          td $3.22
          td +0.01
          td +1.36%
        tr
          td XXD
          td ADITYA BIRLA
          td $1.02
          td -1.01
          td +2.36%
