table.tbl-with-actions
  thead
    tr
      th(colspan='3') Atividades do Projeto
    tr
      th #
      th(colspan='2') Atividade
  tbody
    tr
      td 1
      td Atualizar página da equipe
      td
        i.fa.fa-pencil.button.alterar
        i.fa.fa-trash.button.excluir
    tr
      td 2
      td Design da nova marca
      td
        i.fa.fa-pencil.button.alterar
        i.fa.fa-trash.button.excluir
    tr
      td 3
      td Encontrar desenvolvedor front-end
      td
        i.fa.fa-pencil.button.alterar
        i.fa.fa-trash.button.excluir
