table.tbl-seawater
  tr
    th Main driver
    th(data-th='Driver details')
      span First name
    th Surname
    th Date of birth
    th Relationship
  tr
    td
      input(type='radio')
    td Steve
    td Foo
    td 01/01/1978
    td Policyholder
  tr
    td
      input(type='radio')
    td Steffie
    td Foo
    td 01/01/1978
    td Spouse
  tr
    td
      input(type='radio')
    td Stan
    td Foo
    td 01/01/1994
    td Son
  tr
    td
      input(type='radio')
    td Stella
    td Foo
    td 01/01/1992
    td Daughter
