#acceptants-page-content.p1
  // Acceptant list
  .text-large.mb1 Акцептанты, зарегистрированные в системе:
  .red-table-wrapper(ng-show="acceptants.length > 0")
    table(st-table='acceptants')
      thead
        tr
          th Приложение
          th Акцептант
          th Описание
      tbody
        tr(ng-repeat='a in acceptants')
          td {{a.app.title}}
          td {{a.title}}
          td {{a.description}}
  .nodata-msg(ng-show="acceptants.length === 0") Организации-акцептанты не найдены
