#acceptants-page-content.w100.h100.p1
  #acceptants-title.text-large.mb1 Акцептанты, зарегистрированные в системе:
  #acceptants-table-wrapper
    #acceptants-table.grid(ng-show="acceptants.length > 0", ui-grid="gridOptions", ui-grid-auto-resize)
  #acceptants-nodata-msg.nodata-msg(ng-show="acceptants.length === 0 && !isGettingData") Организации-акцептанты не найдены
