#acceptants-page-content {
  background: lightgreen;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

#acceptants-title, #acceptants-nodata-msg {
  flex: none;
}

#acceptants-table {
  flex: 1;
}
