#emitters-page-content.p1
  // Emitter list
  .text-large.mb1 Эмитенты, зарегистрированные в системе:
  .blue-table-wrapper(ng-show="emitters.length > 0")
    table(st-table='emitters')
      thead
        tr
          th Приложение
          th Эмитент
          th Описание
      tbody
        tr(ng-repeat='e in emitters')
          td {{e.app.title}}
          td {{e.title}}
          td {{e.description}}
  .nodata-msg(ng-show="emitters.length === 0 && !isGettingData") Организации-эмитенты не найдены
