#emitters-page-content {
  flex: 1;
  background: lightblue;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

#emitters-title, #emitters-nodata-msg-wrapper {
  flex: none;
}

#emitters-table-wrapper {
  flex: 1 1 420px;
}
