#esek-block-page-content.w100.h100.p1
  // Page Title
  #esek-block-header
    span.text-xlarge Статистика блокировок ЕСЭК&nbsp;
    span.text-large за&nbsp;
    // Time period selector
    strong.text-large.mr1 {{ datePicker.date | DatePickerFilter}}
    button.btn.btn-default.responsive-btn(date-range-picker, ng-model="datePicker.date",
    options="dateRangePickerOpts", max="today",
    ng-disabled='isGettingData',
    uib-tooltip="Выбрать дату или период", tooltip-append-to-body="true", tooltip-placement="auto bottom")
      i.glyphicon.glyphicon-calendar
  // Statistic Results:
  #esek-block-table-wrapper.pt1(ng-show="data && !isObjectEmpty(data)")
    table.table.w50
      tbody
        tr
          td Всего заблокировано карт:
          td.text-right {{data.total}}
          td
        tr
          td Льготных:
          td.text-right {{data.exempted}}
          td
        tr
          td Нельготных:
          td.text-right {{data.nonexempted}}
          td
        tr
          td
          td
          td
  #esek-block-chart(ng-show="data && !isObjectEmpty(data)")
  // NO DATA message
  #esek-block-nodata.nodata-msg(ng-show="(!data || isObjectEmpty(data)) && !isGettingData") НЕТ ДАННЫХ
