#esek-replenish-page-content.p1
  span.text-xlarge Статистика пополнений баланса с помощью ЕСЭК&nbsp;
  span.text-large за&nbsp;
  strong#trans-time-period.text-large.mr1 {{ datePicker.date | DatePickerFilter}}
  // Time period selector
  button.btn.btn-default.responsive-btn(date-range-picker, ng-model="datePicker.date",
  options="dateRangePickerOpts", max="today",
  ng-disabled='isGettingData',
  uib-tooltip="Выбрать дату или период", tooltip-append-to-body="true", tooltip-placement="auto bottom")
    i.glyphicon.glyphicon-calendar
  // NO DATA message
  .nodata-msg(ng-show="(!data || isObjectEmpty(data) || isObjectEmpty(data.total)) && !isGettingData") НЕТ ДАННЫХ
