#esek-payment-page-content.p1
  // Page title and time period selector
  #esek-payment-header
    // Title
    span#esek-payment-title.text-xlarge Статистика оплаты услуг с помощью ЕСЭК&nbsp;
    span.text-large за&nbsp;
    // Time period selector
    strong#esek-payment-time-period.text-large.mr1 {{ datePicker.date | DatePickerFilter}}
    button.btn.btn-default.responsive-btn(date-range-picker, ng-model="datePicker.date",
    options="dateRangePickerOpts", max="today",
    ng-disabled='isGettingData',
    uib-tooltip="Выбрать дату или период", tooltip-append-to-body="true", tooltip-placement="auto bottom")
      i.glyphicon.glyphicon-calendar
  // Statistic Results
  #esek-payment-stat-table.pt1(ng-show="data && data.length > 0")
    table.table.table-striped(st-table="displayedData", st-safe-src="data")
      thead.yellow-table-header
        tr
          th Поставщик
          th Услуга
          th Кол-во
      tbody
        tr(ng-repeat='row in displayedData')
          td {{row.provider}}
          td {{row.service}}
          td {{row.amount}}
  // NO DATA message
  #esek-payment-nodata.nodata-msg(ng-show="(!data || data.length === 0) && !isGettingData") НЕТ ДАННЫХ
