#esek-replenish-page-content.w100.h100.p1
  // Page Title
  #esek-replenish-header
    span#esek-replenish-title.text-xlarge Статистика пополнений баланса с помощью ЕСЭК&nbsp;
    #esek-replenish-time-period-wrapper.time-period(ng-show="showTimePeriod")
      span.text-large за&nbsp;
      // Time period selector
      strong#esek-replenish-time-period.text-large.mr1 {{ datePicker.date | DatePickerFilter}}
      button.btn.btn-default.responsive-btn(date-range-picker, ng-model="datePicker.date",
      options="dateRangePickerOpts", max="today",
      ng-disabled='isGettingData',
      uib-tooltip="Выбрать дату или период", tooltip-append-to-body="true", tooltip-placement="auto bottom")
        i.glyphicon.glyphicon-calendar
  // Statistic Results:
  #esek-replenish-total-title.page-subtitle.pt2.pb1(ng-show="showContent && data && !isObjectEmpty(data)") Итоговая статистика
  #esek-replenish-total-tbl-wrapper.stat-data(ng-show="showContent && data && !isObjectEmpty(data) && !isObjectEmpty(data.total)")
    table#esek-replenish-total-tbl.table.table-striped.table-bordered.tbl-hdr-fixed(st-table='getObjectPropNames(data.total)')
      thead.yellow-table-header
        tr
          th Способ оплаты
          th Кол-во
      tbody
        tr(ng-repeat='propName in getObjectPropNames(data.total)')
          td {{propName | currencyCode2Name:tariffs}}
          td {{data.total[propName]}}
  // Statistic details
  #esek-replenish-detail-title.page-subtitle.pt2.pb1(ng-show="showContent && data && !isObjectEmpty(data)") Статистика по терминалам
  #esek-replenish-detail-tbl-wrapper.stat-data(ng-show="showContent && data && !isObjectEmpty(data) && !isObjectEmpty(data.perTerminals)")
    table#esek-replenish-detail-tbl.table.table-bordered.tbl-hdr-fixed(st-table='getObjectPropNames(data.perTerminals)')
      thead.yellow-table-header
        tr
          th Терминал
          th Способ оплаты
          th Кол-во
      tbody(ng-repeat='terminal in getObjectPropNames(data.perTerminals)')
        tr
          td.esek-replenish-term-row {{terminal}}
          td.esek-replenish-term-row
          td.esek-replenish-term-row
        tr(ng-repeat='serviceName in getObjectPropNames(data.perTerminals[terminal])')
          td.w30
          td.w30 {{serviceName | currencyCode2Name:tariffs }}
          td.w30 {{data.perTerminals[terminal][serviceName]}}
  // NO DATA message
  #esek-replenish-nodata.nodata-msg.stat-data(ng-show="showContent && (!data || isObjectEmpty(data) || isObjectEmpty(data.total)) && !isGettingData") НЕТ ДАННЫХ
