#esek-activat-page-content.w100.h100.p1
  // Page Title
  #esek-activat-header
    span.text-xlarge Статистика активаций ЕСЭК&nbsp;
    span.text-large за&nbsp;
    // Time period selector
    strong.text-large.mr1 {{ datePicker.date | DatePickerFilter}}
    button.btn.btn-default.responsive-btn(date-range-picker, ng-model="datePicker.date",
    options="dateRangePickerOpts", max="today",
    ng-disabled='isGettingData',
    uib-tooltip="Выбрать дату или период", tooltip-append-to-body="true", tooltip-placement="auto bottom")
      i.glyphicon.glyphicon-calendar
  // Statistic Results:
  .pt1(ng-show="data && !isObjectEmpty(data)")
    table.table.w50
      tbody
        tr
          td Всего активировано карт:
          td {{data.total}}
        tr
          td Льготных:
          td {{data.exempted}}
        tr
          td Нельготных:
          td {{data.nonexempted}}
        tr
          td
          td
  // NO DATA message
  #esek-activat-nodata.nodata-msg(ng-show="(!data || isObjectEmpty(data)) && !isGettingData") НЕТ ДАННЫХ
