#esek-replenish-page-content {
  flex: 1 1 600px;
  overflow: auto;
//  background: sandybrown;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

#esek-replenish-header, #esek-replenish-stat-total, #esek-replenish-nodata {
  flex: none;
}

/////////////////////////////////////////////////
// Detail section layout

#esek-replenish-stat-detail {
  flex: 1;
//  background: orange;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

#esek-replenish-stat-detail-title {
  flex: none;
}

#esek-replenish-stat-detail-table-header {
  flex: none;

  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.esek-replenish-stat-detail-table-header-cell {
  flex: 1;
  .bold;
}

.esek-replenish-stat-detail-table-term-row {
  background: darken(lightgoldenrodyellow, 5%);
}

#esek-replenish-stat-detail-table-body {
  flex: 1 1 200px;
  overflow: auto;
}

// Detail section layout
/////////////////////////////////////////////////
