#esek-replenish-page-content {
  flex: 1;
//  background: sandybrown;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

#esek-replenish-header, #esek-replenish-stat-total, #esek-replenish-nodata {
  flex: none;
}

#esek-replenish-stat-detail {
  flex: 1;
  background: orange;
}

.page-subtitle {
  .text-large;
  .bold;
  color: palevioletred;
}
