#esek-replenish-page-content.p1
  // Page Title
  #esek-replenish-header
    span.text-xlarge Статистика пополнений баланса с помощью ЕСЭК&nbsp;
    span.text-large за&nbsp;
    // Time period selector
    strong#esek-replenish-time-period.text-large.mr1 {{ datePicker.date | DatePickerFilter}}
    button.btn.btn-default.responsive-btn(date-range-picker, ng-model="datePicker.date",
    options="dateRangePickerOpts", max="today",
    ng-disabled='isGettingData',
    uib-tooltip="Выбрать дату или период", tooltip-append-to-body="true", tooltip-placement="auto bottom")
      i.glyphicon.glyphicon-calendar
  // Statistic Results:
  #esek-replenish-stat-total(ng-show="data && !isObjectEmpty(data) && !isObjectEmpty(data.total)")
    .page-subtitle.pt2 Итоговая статистика
    table.tbl-seawater(st-table='getObjectPropNames(data.total)')
      thead
        tr
          th Способ оплаты
          th Кол-во
      tbody
        tr(ng-repeat='propName in getObjectPropNames(data.total)')
          td {{propName}}
          td {{data.total[propName]}}
  #esek-replenish-stat-detail(ng-show="data && !isObjectEmpty(data) && !isObjectEmpty(data.perTerminals)")
    #esek-replenish-stat-detail-title.page-subtitle.pt2.pb1 Статистика по терминалам
    #esek-replenish-stat-detail-table-header.pt1.pb1.yellow-table-header
      .esek-replenish-stat-detail-table-header-cell.pl1 Терминал
      .esek-replenish-stat-detail-table-header-cell Способ оплаты
      .esek-replenish-stat-detail-table-header-cell Кол-во
    #esek-replenish-stat-detail-table-body
      table.table(st-table='getObjectPropNames(data.perTerminals)')
        tbody(ng-repeat='terminal in getObjectPropNames(data.perTerminals)')
          tr.esek-replenish-stat-detail-table-term-row
            td {{terminal}}
            td
            td
          tr(ng-repeat='serviceName in getObjectPropNames(data.perTerminals[terminal])')
            td.w30
            td.w30 {{serviceName}}
            td.w30 {{data.perTerminals[terminal][serviceName]}}
  // NO DATA message
  #esek-replenish-nodata.nodata-msg(ng-show="(!data || isObjectEmpty(data) || isObjectEmpty(data.total)) && !isGettingData") НЕТ ДАННЫХ
