#esek-payment-page-content {
  flex: 1 1 600px;
  overflow: auto;
//  background: lightseagreen;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

#esek-payment-header, #esek-payment-nodata {
  flex: none;
}

#esek-payment-stat-table {
  flex: 1 1 500px;
  overflow: auto;

//  background: orange;
}

#esek-replenish-time-period-wrapper {
  display: inline-block;
}
