#services-page-content.w100.h100.p1
  // Application selector
  #services-app-selector.Grid.Grid--center
    .Grid-cell--autoSize
      label(for="app-select") Выберите приложение:
    .Grid-cell--autoSize.pl1
      select#app-select.form-control(ng-model='appSelected', ng-options='app as app.title for app in apps', ng-change='onSelectedAppChanged()')
  // List of emitters for the selected app
  #services-table-title.text-large.mt2.mb1 Список оказываемых услуг для выбранного приложения:
  // Service list
  #services-tariffs-table.grid(
  ng-hide="gridOptions.data.length === 0",
  ui-grid="gridOptions", ui-grid-auto-resize, ui-grid-grouping)
  // No data message
  #services-nodata-msg-wrapper(ng-show="gridOptions.data.length === 0 && !isGettingData")
    .nodata-msg Услуги не найдены
