#services-page-content {
//  background: lightpink;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

#services-app-selector, #services-title, #services-nodata-msg {
  flex: none;
}

#services-table-wrapper {
  flex: 1 1 auto;
}
