/////////////////////////////////////////////////////////////////////
// Blue table style

.blue-table-wrapper table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.blue-table-wrapper {
  font: normal 16px/150% Arial, Helvetica, sans-serif;
  background: #fff;
  overflow: hidden;
  border: 1px solid #006699;
  border-radius: 6px;
}

.blue-table-wrapper table td, .blue-table-wrapper table th {
  padding: 6px 15px;
}

.blue-table-wrapper table thead th {
  background-color: #006699;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  border-left: 1px solid #0070A8;
}

.blue-table-wrapper table thead th:first-child {
  border: none;
}

.blue-table-wrapper table tbody td {
  color: #00557F;
  border-left: 1px solid #E1EEF4;
  font-size: 16px;
  border-bottom: 1px solid #E1EEF4;
  font-weight: normal;
}

//.blue-table-wrapper table tbody tr:nth-child(even) td {
//  background: #E1EEf4;
//  color: #00557F;
//}

.blue-table-wrapper table tbody td:first-child {
  border-left: none;
}

.blue-table-wrapper table tbody tr:last-child td {
  border-bottom: none;
}

// Blue table style
/////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////
// Red table style

.red-table-wrapper table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.red-table-wrapper {
  font: normal 16px/150% Arial, Helvetica, sans-serif;
  background: #fff;
  overflow: hidden;
  border: 1px solid #991821;
  border-radius: 6px;
}

.red-table-wrapper table td, .red-table-wrapper table th {
  padding: 6px 15px;
}

.red-table-wrapper table thead th {
  background-color: #991821;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  border-left: 1px solid #B01C26;
}

.red-table-wrapper table thead th:first-child {
  border: none;
}

.red-table-wrapper table tbody td {
  color: #80141C;
  border-left: 1px solid #F7CDCD;
  font-size: 16px;
  border-bottom: 1px solid #F7CDCD;
  font-weight: normal;
}

//.red-table-wrapper table tbody tr:nth-child(even) td {
//  background: #F7CDCD;
//  color: #80141C;
//}

.red-table-wrapper table tbody td:first-child {
  border-left: none;
}

.red-table-wrapper table tbody tr:last-child td {
  border-bottom: none;
}

// Red table style
/////////////////////////////////////////////////////////////////////


//*******************************************************************
// SeaWater table

// Default options for table style
@tbl-seawater-background-color: #FFF;
@tbl-seawater-text-color: #024457;
@tbl-seawater-outer-border: 1px solid #167F92;
@tbl-seawater-cell-border: 1px solid #D9E4E6;

// Extra options for table style
@tbl-seawater-border-radius: 10px;
@tbl-seawater-highlight-color: #EAF3F3;
@tbl-seawater-header-background-color: #167F92;
@tbl-seawater-header-text-color: #FFF;
@tbl-seawater-header-border: 1px solid #FFF;

.tbl-seawater {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: @tbl-seawater-background-color;
  color: @tbl-seawater-text-color;
  border-radius: @tbl-seawater-border-radius;
  border: @tbl-seawater-outer-border;
  border-collapse: separate;
  border-spacing: 2px;

  tr {
    border: @tbl-seawater-cell-border;
    &:nth-child(odd) { // highlight the odd rows with a color
      background-color: @tbl-seawater-highlight-color;
    }
  }

  th {
    border: @tbl-seawater-header-border;
    background-color: @tbl-seawater-header-background-color;
    color: @tbl-seawater-header-text-color;
    padding: 1em;
  }

  td {
    word-wrap: break-word;
    max-width: 7em;
    padding: 1em;
    border: @tbl-seawater-cell-border;
  }

  th, td {
    text-align: left;
    margin: .5em 1em;
  }
}

// SeaWater table
//*******************************************************************


//===================================================================
// Dark responsive table

@breakpoint-alpha: 480px; // adjust to your needs

.rwd-table {
  margin: 1em 0;
  min-width: 300px; // adjust to your needs

  tr {
    border-top: 0px solid #ddd;
    border-bottom: 0px solid #ddd;
  }

  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!
  }

  td {
    display: block;

    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
      font-weight: bold;

      // optional stuff to make it look nicer
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      // end options

      @media (min-width: @breakpoint-alpha) {
        display: none;
      }
    }
  }

  th, td {
    text-align: left;

    @media (min-width: @breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

  }

  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;

  tr {
    border-color: lighten(#34495E, 10%);
  }

  th, td {
    margin: .5em 1em;
    @media (min-width: @breakpoint-alpha) {
      padding: 1em !important;
    }
  }

  th, td:before {
    color: #dd5;
  }

}

// Dark responsive table
//===================================================================
